<ng-container [formGroup]="driverLicenseForm">
  <div>
    <input-simple type="text"
                  formControlName="driverLicenseNumber" name="driverLicenseNumber"
                  placeholder="Driver license number">
    </input-simple>
  </div>
  <div>
    <input-simple type="text"
                  formControlName="stateOfIssue" name="stateOfIssue"
                  placeholder="State of issue">
    </input-simple>
  </div>
  <div>
    <input-simple type="text"
                  formControlName="countryOfIssue" name="countryOfIssue"
                  placeholder="Country of issue">
    </input-simple>
  </div>
  <div *ngIf="submitted && !driverLicenseForm.valid" class="alert alert-danger">
    <div *ngIf="f.driverLicenseNumber.errors?.required">Driver license number is required</div>
    <div *ngIf="f.countryOfIssue.errors?.required">Country of issue is required</div>
  </div>
</ng-container>
