<ng-container [formGroup]="addressForm">
<input-simple name="streetAddress"
           formControlName="streetAddress"
           placeholder="Street Address">
</input-simple>
<div class="row">
    <input-simple name="suiteNumber"
           formControlName="suiteNumber"
           class="col-sm-6"
           placeholder="Apt/Suite">
    </input-simple>
</div>
<input-simple name="city"
       formControlName="city"
       placeholder="City">
</input-simple>
<div class="row">
    <input-simple name="state"
           formControlName="state"
           class="col-sm-6"
           placeholder="State or province">
    </input-simple>
    <input-simple name="zip"
           formControlName="zip"
           class="col-sm-6"
           placeholder="Zip code">
    </input-simple>
</div>
<div *ngIf="submitted && !addressForm.valid" class="alert alert-danger">
    <div *ngIf="f.streetAddress.errors?.required">Street address is required</div>
    <div *ngIf="f.city.errors?.required">City is required</div>
    <div *ngIf="f.zip.errors?.required">Zip code is required</div>
    <div *ngIf="f.zip.errors?.maxLength">Zip code cannot be longer than 10 characters</div>
</div>
</ng-container>
