<ng-container [formGroup]="creditCardForm">
  <div>
    <input-simple type="text"
                  formControlName="nameOnCard" name="nameOnCard"
                  placeholder="Name on card">
    </input-simple>
  </div>
  <div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" (click)="preventDefault($event)" ngbDropdownToggle>Card Type</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem (click)="setCardType($event, 'VISA')">VISA</button>
          <button ngbDropdownItem (click)="setCardType($event, 'MasterCard')">Master Card</button>
          <button ngbDropdownItem (click)="setCardType($event, 'AmericanExpress')">American Express</button>
        </div>
      </div>
      <div class="text-info" *ngIf="selectedCardTime">
        {{selectedCardTime}}
      </div>
    </div>
  </div>
  <div>
    <input-simple type="text"
                  formControlName="creditCardNumber" name="creditCardNumber"
                  placeholder="Credit card number">
    </input-simple>
  </div>
  <div>
    <div class="form-group">
      <label>Expiration Time</label>
      <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd"
               name="expirationTime" formControlName="expirationTime"
               ngbDatepicker #d="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
            <i class="fa fa-calendar"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="submitted && !creditCardForm.valid" class="alert alert-danger">
    <div *ngIf="f.nameOnCard.errors?.required">Name on card is required</div>
    <div *ngIf="f.type.errors?.required">Credit card type is required</div>
    <div *ngIf="f.creditCardNumber.errors?.required">Credit card number is required</div>
    <div *ngIf="f.expirationTime.errors?.required">Expiration date is required</div>
  </div>
</ng-container>
