<!--== Header Area Start ==-->
<header id="header-area" class="fixed-top" #headerArea>
    <!--== Header Top Start ==-->
    <div id="header-top" class="d-none d-xl-block">
        <div class="container">
            <div class="row">
                <!--== Single HeaderTop Start ==-->
                <div class="col-lg-3 text-left">
                    <i class="fa fa-map-marker"></i> Timisoara, RO
                </div>
                <!--== Single HeaderTop End ==-->
                <!--== Single HeaderTop Start ==-->
                <div class="col-lg-3 text-center">
                    <i class="fa fa-mobile"></i> +40 745-288-913
                </div>
                <!--== Single HeaderTop End ==-->

                <!--== Single HeaderTop Start ==-->
                <div class="col-lg-3 text-center">
                    <i class="fa fa-clock-o"></i> Mon-Fri 09.00 - 17.00
                </div>
                <!--== Single HeaderTop End ==-->

                <!--== Social Icons Start ==-->
                <div class="col-lg-3 text-right">
                    <div class="header-social-icons">
                        <a href="#"><i class="fa fa-behance"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <!--== Social Icons End ==-->
            </div>
        </div>
    </div>
    <!--== Header Top End ==-->

    <!--== Header Bottom Start ==-->
    <div id="header-bottom">
        <div class="container">
            <div class="row">
                <!--== Logo Start ==-->
                <div class="col-lg-4">
                    <a routerLink="/" routerLinkActive="active" class="logo">
                        <img src="assets/images/logo.png" alt="JSOFT">
                    </a>
                </div>
                <!--== Logo End ==-->

                <!--== Main Menu Start ==-->
                <div class="col-lg-8 d-none d-xl-block">
                    <nav class="mainmenu alignright" #mainmenu>
                        <ul>
                            <li class="active">
                              <a routerLink="/" routerLinkActive="active">Home</a>
                            </li>
                            <ng-container *ngIf="isLoggedIn()">
                              <li>
                                <a routerLink="/account/" routerLinkActive="active">Your Account</a>
                              </li>
                              <li>
                                <a href="javascript:void(0)" (click)="logOut($event)">Logout</a>
                              </li>
                            </ng-container>
                        </ul>
                    </nav>
                </div>
                <!--== Main Menu End ==-->
            </div>
        </div>
    </div>
    <!--== Header Bottom End ==-->
</header>
<!--== Header Area End ==-->
<app-loader></app-loader>
<router-outlet></router-outlet>

<!--== Footer Area Start ==-->
<section id="footer-area">
  <div class="footer-bottom-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
        </div>
      </div>
    </div>
  </div>
</section>

<!--== Scroll Top Area Start ==-->
<div class="scroll-top" #scrollTop (click)="scrollToTop()">
  <img src="assets/images/scroll-top.png" alt="JSOFT">
</div>
<!--== Scroll Top Area End ==-->
