    <!--== Slider Area Start ==-->
    <section id="slider-area">
        <!--== slide Item One ==-->
        <div class="single-slide-item overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="book-a-car">
                            <form #form="ngForm" (ngSubmit)="onSubmit(form)">
                                <!--== Pick Up Date ==-->
                                <div class="pick-up-date book-item">
                                    <h4>PICK-UP DATE:</h4>
                                    <time-picker name="startTime"
                                        [(ngModel)]="startTime"
                                        required
                                        [format]="{momentFormat:'lll'}">

                                        <err-required message="The start time is required"></err-required>
                                    </time-picker>
                                    <div class="return-car">
                                        <h4>Return DATE:</h4>
                                        <time-picker name="endTime"
                                          [(ngModel)]="endTime"
                                          required
                                          [format]="{momentFormat:'lll'}">

                                          <err-required message="The end time is required"></err-required>
                                        </time-picker>
                                    </div>
                                </div>
                                <!--== Pick Up Location ==-->

                                <!--== Car Choose ==-->
                                <div class="book-button text-center">
                                    <button class="book-now-btn">Book Now</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="col-lg-7 text-right">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <div class="slider-right-text">
                                    <h1>BOOK A CAR TODAY!</h1>
                                    <p>FOR AS LOW AS $10 A DAY PLUS 15% DISCOUNT <br> FOR OUR RETURNING CUSTOMERS</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--== slide Item One ==-->
    </section>
    <!--== Slider Area End ==-->
